@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel|Knewave|Russo+One|Space+Mono|Montserrat:300,400,500,600,700');

$designer-font: "knewave",
sans-serif;
$primary-font: "Montserrat",
sans-serif;
$none: rgba(0, 0, 0, 0);

$theme-colors: (
    "primary": #00B3FF,
    "red": #B54042,
    "light": #f8f8f8
);

@each $color,
$value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

$primary: #00B3FF;
$red: #B54042;
$light: #F8F8F8;

$shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
$drop-shadow: drop-shadow($shadow);

html,
body {
    font-family: $primary-font;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-spacer {
    width: 50px;
    height: 50px;
}

.nav-pills .nav-link {
    margin: 0px 5px;
    border-bottom: 5px solid $none;
    border-radius: 0px;
    color: $dark;
}

.nav-pills .nav-link.active {
    background-color: $none;
    border-color: $primary;
    color: $dark;
}

.nav-pills .nav-link:hover {
    border-bottom: 5px solid #33ACE09a;
    border-radius: 0px;
}

.btn {
    filter: $drop-shadow;
    margin: 15px;
}

.nav {
    transition: .5s;
    z-index: 100;
    max-width: 800px;
    align-items: center;
}

.desktop-nav {
    transition: .5s;
    width: 100%;
    height: 71px;
    position: fixed;
    top: 20px;
    right: 0px;
    display: flex;
    z-index: 50;
}

section {
    /* display: flex; */
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.header-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 75px;
}

#greeting {
    font-size: calc(6vw * 0.6);
    font-weight: 400;
}

#name {
    color: $primary;
    font-size: calc(13vw * 0.6);
    font-weight: 800;
}


#about {
    font-size: calc(3vw * 0.6);
    font-weight: 400;
    letter-spacing: 0.75vw;
}

@media (max-width: 815px) {
    #greeting {
        font-size: calc(6vw * 0.9);
        font-weight: 400;
    }

    #name {
        color: $primary;
        font-size: calc(13vw * 0.9);
        font-weight: 800;
    }


    #about {
        font-size: calc(3vw * 0.9);
        font-weight: 400;
        letter-spacing: 0.75vw;
    }
}

#logo {
    max-width: 125px;
    width: 15%;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
}

.jp-logo {
    fill: none;
    stroke: $primary;
    stroke-linecap: round;
    stroke-width: 50px;
}

.header {
    align-items: center;
    display: flex;
    padding-top: 95px;
    height: 100vh;
    flex-direction: column;
}

.bkg {
    background: url('../img/header-background.jpg');
    background-color: $primary;
    background-position: 50% 50%;
    opacity: 0.2;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: blur(5px);
}

.spacer {
    height: 100px;
    width: 100%;
}

.transition-img {
    z-index: 15;
    position: absolute;
    width: 100%;
    bottom: -1px;
}

@media (max-width: 825px) {
    .desktop-nav {
        display: none;
    }
}



/* Blinking Cursor code from Artem Gordinsky on codepen*/

.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #fafafa;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-ms-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-o-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}