@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel|Knewave|Russo+One|Space+Mono|Montserrat:300,400,500,600,700');

$designer-font: "knewave",
sans-serif;
$primary-font: "Montserrat",
sans-serif;
$none: rgba(0, 0, 0, 0);

$theme-colors: (
    "primary": #00B3FF,
    "red": #B54042,
    "light": #f8f8f8
);

@each $color,
$value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

$primary: #00B3FF;
$red: #B54042;
$light: #F8F8F8;

$shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
$drop-shadow: drop-shadow($shadow);

html,
body {
    font-family: $primary-font;
    text-align: center;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-spacer {
    width: 50px;
    height: 50px;
}

.nav-pills .nav-link {
    margin: 0px 5px;
    border-bottom: 5px solid $none;
    border-radius: 0px;
    color: $dark;
}

.nav-pills .nav-link.active {
    background-color: $none;
    border-color: $primary;
    color: $dark;
}

.nav-pills .nav-link:hover {
    border-bottom: 5px solid #33ACE09a;
    border-radius: 0px;
}

.btn {
    filter: $drop-shadow;
    margin: 15px;
}

.nav {
    transition: .5s;
    z-index: 100;
    max-width: 800px;
    align-items: center;
}

.bar {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 5px;
    height: 5px;
    width: 30px;
    background-color: #fafafa; 
}
  

.nav-item {
    margin: auto;
}

.nav-link {
    font-weight: 600;
    text-transform: uppercase;
    height: 35px;
    font-size: .85em;
}

@media (max-width:995px) {
    .nav-item {
        height: 55px;
    }
}

.navbar-nav {
    margin: auto;
}

.navbar-toggler {
    border: 0px solid black;
}

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 50;
}

.navbar .navbar-light, .navbar-dark {
    transition: 150ms;
}

section {
    /* display: flex; */
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.header-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 75px;
}

#greeting {
    font-size: calc(6vw * 0.6);
    font-weight: 400;
}

#name {
    color: $primary;
    font-size: calc(13vw * 0.6);
    font-weight: 800;
}


#about {
    font-size: calc(3vw * 0.6);
    font-weight: 400;
    letter-spacing: 0.75vw;
}

@media (max-width: 815px) {
    #greeting {
        font-size: calc(6vw * 0.9);
        font-weight: 400;
    }

    #name {
        color: $primary;
        font-size: calc(13vw * 0.9);
        font-weight: 800;
    }
    
    #about {
        font-size: calc(3vw * 0.9);
        font-weight: 400;
        letter-spacing: 0.75vw;
    }
}

#logo {
    max-width: 125px;
    width: 15%;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
}

.jp-logo {
    fill: none;
    stroke: $primary;
    stroke-linecap: round;
    stroke-width: 50px;
}

.header {
    align-items: center;
    display: flex;
    padding-top: 95px;
    height: 100vh;
    flex-direction: column;
}

.bkg {
    background: url('../img/header-background.jpg');
    background-color: $primary;
    background-position: 50% 50%;
    opacity: 0.2;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: blur(5px);
}

.spacer {
    height: 60px;
    width: 100%;
}

h3 {
    text-transform: uppercase;
    margin: 0px;
}

.resume-title {
    align-self: center;
    font-size: 1.7em;
    font-family: $primary-font;
    margin: 15px 0px 0px 0px;
    font-weight: 400;
    color: $primary;
}

.resume-name {
    font-size: 3em;
    font-weight: 700;
}

.resume-tagline {
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 200;
    margin-bottom: 25px;
}

.intro {
    font-size: 12px;
    justify-content: space-evenly;
    //margin-bottom: 50px;
}


@media (min-width: 1024px) {
    .resume-name {
        font-size: 4em;
    }

    .intro {
        font-size: 1vw;
    }
}

#resume-img {
    height: 100px;
    filter: $drop-shadow;
}


.transition-img {
    z-index: 15;
    position: absolute;
    width: 100%;
    bottom: -1px;
}


/* Blinking Cursor code from Artem Gordinsky on codepen*/

.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #fafafa;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-ms-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}

@-o-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fafafa;
    }
}


.section-title {
    justify-content: center;
    background: $dark;
    margin-top: 15px;
    margin-bottom: 35px;
}

.section-title h2 {
    font-size: 4em;
    font-weight: 600;
    color: $primary;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    color: $light;
    height: 70vh;
    overflow-y: scroll;
    //align-self: center;
}

.card {
    width: 30%;
    height: 40%;
    margin: 1.5%;
    background-color: $dark;
    border-radius: 15px;
    filter: $drop-shadow;
}

@media (max-width: 950px) {
    .card {
        width: 46%;
    }
}

.card-bkg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(20%);
    border-radius: 15px;
}

.card-body {
    z-index: 5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal-img {
    width: 100%;
    padding: 25px;
}

.modal-description {
    font-size: 1.2rem;
}

.modal-images {
    display: flex;
}

.modal-header {
    align-items: center;
}

.modal-title {
    margin: auto;
}

.close {
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    right: 15px;
    top: 9px;
}

@media (max-width: 758px) {
    #cards {
        overflow-y: visible;
    }
}

@media (max-width: 450px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
    .modal-img {
        width: 45%;
        padding: 25px;
    }
}
