@font-face {
    font-family: 'Greycliff CF';
    src: '@/assets/fonts/GreycliffCF-Regular.eot';
    src: '@/assets/fonts/GreycliffCF-Regular.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-Regular.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-Regular.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-Regular.ttf' format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: '@/assets/fonts/GreycliffCF-Bold.eot';
    src: '@/assets/fonts/GreycliffCF-Bold.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-Bold.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-Bold.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-Bold.ttf' format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: '@/assets/fonts/GreycliffCF-DemiBold.eot';
    src: '@/assets/fonts/GreycliffCF-DemiBold.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-DemiBold.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-DemiBold.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-DemiBold.ttf' format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: '@/assets/fonts/GreycliffCF-Light.eot';
    src: '@/assets/fonts/GreycliffCF-Light.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-Light.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-Light.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-Light.ttf' format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: '@/assets/fonts/GreycliffCF-ExtraBold.eot';
    src: '@/assets/fonts/GreycliffCF-ExtraBold.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-ExtraBold.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-ExtraBold.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-ExtraBold.ttf' format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: '@/assets/fonts/GreycliffCF-Heavy.eot';
    src: '@/assets/fonts/GreycliffCF-Heavy.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-Heavy.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-Heavy.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-Heavy.ttf' format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: '@/assets/fonts/GreycliffCF-Medium.eot';
    src: '@/assets/fonts/GreycliffCF-Medium.eot?#iefix' format('embedded-opentype'),
        '@/assets/fonts/GreycliffCF-Medium.woff2' format('woff2'),
        '@/assets/fonts/GreycliffCF-Medium.woff' format('woff'),
        '@/assets/fonts/GreycliffCF-Medium.ttf' format('truetype');
    font-weight: 500;
    font-style: normal;
}

